html, body {
  margin: 0px;
  padding: 0px; }

.float-left {
  float: left; }

.float-right {
  float: right; }

#header {
  background: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(white));
  background: -moz-linear-gradient(top, #bbbbbb, white);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='white');
  color: #000;
  background-color: #CCC;
  border: 1px solid #000;
  border-width: 0 0 1px 0; }
  #header .float-left {
    padding: 5px; }
  #header .float-right {
    padding: 5px; }
  #header #header-content {
    font-size: 16pt;
    height: 42px; }

#wrapper {
  width: 100%; }

.container {
  width: 100%;
  height: 100%;
  padding: 5px; }

.table {
  table-layout: fixed; }

.cell, .table > tbody > tr > td {
  padding: 0px;
  overflow: hidden; }
  .cell .inner, .table > tbody > tr > td .inner {
    padding: 8px; }
    .cell .inner .input, .cell .inner .input:focus, .cell .inner .input:active, .table > tbody > tr > td .inner .input, .table > tbody > tr > td .inner .input:focus, .table > tbody > tr > td .inner .input:active {
      border: 0px;
      width: 100%; }

tr.types {
  font-size: 8pt; }

td.red {
  box-shadow: 0 0 5px 2px red inset; }

td.yellow {
  box-shadow: 0 0 5px 2px yellow inset; }

td.green {
  box-shadow: 0 0 5px 2px lime inset; }
