{% extends "base.html" %}

{% block body %}
  <div id="header">
    <div id="header-content">
      <div class="float-left">LifeLogger</div>
      <div style="position: absolute; left: 50%;">
        <div style="position: relative; left: -50%;">
          <div id="center">
            Center text
          </div>
        </div>
      </div>
      <div class="float-right">
        {% if not session.logged_in %}
          <a href="{{ url_for('login') }}">log in</a>
        {% else %}
          <a href="{{ url_for('logout') }}">log out</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div class="container">
      {% block content %}
        Content goes here!
      {% endblock %}
    </div>
  </div>
{% endblock %}